openai>=1.0.0
elevenlabs>=1.0.0
openai-whisper>=20250625
openwakeword>=0.6.0
ddgs>=9.0.0
pyttsx3>=2.99
pyautogui>=0.9.54
Pillow>=11.0.0
opencv-contrib-python>=4.10.0
pycaw>=20240210
screen-brightness-control>=0.24.2
psutil>=5.9.0
python-dotenv>=1.0.1
sounddevice>=0.5.1
numpy>=2.0.2
scipy>=1.14.1
pywin32>=311
